* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: left;
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    height: 70px;
}

.iconebolinho {
    width: 27px;
    height: 27px;
}

.container-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

id .button {
    align-items: center;
    padding: 0 25px 0 25px;
    height: 50px;
}

/* ----------nav----------- */

section {
    display: flex;
    
}

.navbar {
    border: solid green;
    height: calc(100vh - 100px);
    width: 300px;
}

.navbar nav ul li img {
    margin-right: 30px;
}

.navbar ul li img {
    width: 20px;
    height: 20px;
    
}
.navbar ul li {
    list-style-type: none;
    text-align: left;
}

.bolos {
    border: solid rgb(119, 21, 29);
    width: calc(100vw - 300px);
    height: calc(100vh -100px);
}


footer {
    height: 50px;
    background-color: mediumvioletred;
    text-align: center;
    
    
}

    

