header {
    background-color:aquamarine;
    border-radius: 0%;
}

h1 {
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

.img-produto {
    width: 100px;
} 

h2 {
    text-align: center;
    color: brown;
}

.menu {
    margin: 0 100px;
    text-align: center;
}

footer {
    margin: 300px 400px 0px 400px;
    background-color: aqua;
}

